In [1]:
import numpy as np
import pandas as pd
import os

In [9]:
def read_gt(folder_path,file_name):
    os.chdir(folder_path)
    data = open(file_name,'r').read()
    return data

In [3]:
def isfloat(value):
  try:
    float(value)
    return True
  except ValueError:
    return False

In [12]:
def convert_to_df(data):
    data_split1 = data.split("\n")
    num_data_split = []
    for row in data_split1:
        row_split = row.split(",")
        num_row_split = []
        for ele in row_split:
            if isfloat(ele):
                num_row_split.append(float(ele))
            else:
                num_row_split.append(np.NAN)
        num_data_split.append(num_row_split)
    data_df = pd.DataFrame(num_data_split)
    return data_df

In [13]:
def convert_txt_to_df(folder_path,file_name):
    data = read_gt(folder_path, file_name)
    data_df = convert_to_df(data)
    return data_df

In [14]:
carchase = convert_txt_to_df("D:\AeroMIT\dataset_rnn_yolo\TrackingDataset\Kalal\CarChase","gt.txt")
carchase

           0        1       2       3
0     145.00   84.000  199.00  121.00
1     147.57   84.742  201.41  121.64
2     152.91   85.897  206.98  122.94
3     155.44   86.041  209.45  123.04
4     158.24   86.171  212.47  123.33
5     163.72   86.726  218.00  123.92
6     166.26   87.005  220.37  124.08
7     168.84   87.410  222.89  124.45
8     171.98   87.983  225.89  124.93
9     173.94   88.158  227.76  125.03
10    177.03   88.948  230.90  125.86
11    178.85   89.512  232.68  126.39
12    179.71   89.944  233.53  126.82
13    180.56   90.902  234.38  127.78
14    180.31   91.516  234.04  128.33
15    178.38   92.740  232.08  129.53
16    177.43   93.264  231.04  130.00
17    175.53   93.997  229.15  130.74
18    174.14   94.674  227.74  131.40
19    172.48   95.158  226.10  131.90
20    171.33   95.805  224.84  132.47
21    166.69   97.506  220.13  134.12
22    165.02   98.187  218.41  134.76
23    164.02   98.769  217.38  135.33
24    162.64   99.522  216.04  136.11
25    161.99   99.986  215.39  136.57
26    161.85  100.420  215.28  137.02
27    162.17  100.960  215.63  137.58
28    162.74  101.080  216.20  137.70
29    165.49  101.060  218.96  137.69
...      ...      ...     ...     ...
9899     NaN      NaN     NaN     NaN
9900     NaN      NaN     NaN     NaN
9901     NaN      NaN     NaN     NaN
9902     NaN      NaN     NaN     NaN
9903     NaN      NaN     NaN     NaN
9904     NaN      NaN     NaN     NaN
9905     NaN      NaN     NaN     NaN
9906     NaN      NaN     NaN     NaN
9907     NaN      NaN     NaN     NaN
9908     NaN      NaN     NaN     NaN
9909     NaN      NaN     NaN     NaN
9910     NaN      NaN     NaN     NaN
9911     NaN      NaN     NaN     NaN
9912     NaN      NaN     NaN     NaN
9913     NaN      NaN     NaN     NaN
9914     NaN      NaN     NaN     NaN
9915     NaN      NaN     NaN     NaN
9916     NaN      NaN     NaN     NaN
9917     NaN      NaN     NaN     NaN
9918     NaN      NaN     NaN     NaN
9919     NaN      NaN     NaN     NaN
9920     NaN      NaN     NaN     NaN
9921     NaN      NaN     NaN     NaN
9922     NaN      NaN     NaN     NaN
9923     NaN      NaN     NaN     NaN
9924     NaN      NaN     NaN     NaN
9925     NaN      NaN     NaN     NaN
9926     NaN      NaN     NaN     NaN
9927     NaN      NaN     NaN     NaN
9928     NaN      NaN     NaN     NaN

[9929 rows x 4 columns]